@import url('https://fonts.googleapis.com/css?family=Varela+Round');

body {
  font-family: 'Varela Round';
}

.container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}


.logo-link {
  font-size: 1.5em;
  width: 40%;
}

.nested {
  position: relative;
  float: right;
  margin: 0;
  margin-right: 20px;
}

.nav li {
  display: inline-block;
  padding-right: 10px;
  font-size: 1em;
}

.btn {
  border-radius: 25px;
}

#map {
  height: 400px;
  width: 100%;
 }

 .box{
    display: none;
    width: 100%;
    transition: 0.3s all ease-in;
}

a:hover + .box,.box:hover{
    display: block;
    position: relative;
    z-index: 100;
}
