<h1>Welcome to goDOgood</h1>

<h2>Do something good today!</h2>
<p>
  Let us grab your location real quick. Then click the button below.
</p>
<p>
<form action="/organizations" method="get">
  <input type="submit" class="waves-effect waves-light btn" value="Find something near me!">
</form>
</p>
<p>
<form action="/organizations/new" method="get">
  <input type="submit" class="waves-effect waves-light btn" value="Add a New Organization">
</form>
</p>
