<h1>Welcome to goDOgood</h1>

<h2>Do something good today!</h2>
<p>
  Let us grab your location real quick. Then click the button below.
</p>
<form action="/volunteer_programs" method="get">
  <input type="submit" class="main-btn" value="Find something near me!">
</form>
<form action="/organizations" method="post">
  <input type="submit" class="add main-btn" value="Add a New Organization">
</form>
